@font-face {
    font-family: "SF Display";
    font-weight: 700;
    src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
  }

@font-face {
    font-family: "SF Display";
    src: url("https://fonts.googleapis.com/css?family=Gothic+A1:100,300,700,900&display=swap");
    unicode-range: U+0020-007E;
  }

@import url("https//db.onlinewebfonts.com/c/1c85426777f117bfd9515ae613cffb10?family=SF+Pro+Icons");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'SF Display';
    font-weight: 100;
    width: 100%;
    background-color: black;
    overflow: hidden;
    word-break: keep-all;
}

.loader{
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  color: white;
  font-weight: 500em;
  font-size: 1em;
}

.loader1{
  margin: 50% auto auto 25%;
}

.intro{
    height: 100vh;
    padding-top: 30%;
    width: 100%;
}

.intro video {
    height: 75%;
    width: 100%;
    object-fit: contain;
}

.contents {
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-size: 3em;
    color: white;
}
.sub1 {
    padding-top: 15%;
    text-align: center;
    font-size: 0.5em;
    padding-bottom: 150%;
}

.sub2 {
    visibility: hidden;
    font-weight: 700;
    text-align: left;
    padding-bottom: 150%;
}


.title {
    font-size: 1em;
    font-weight: 700;
}

.text {
    padding-top: 1em;
    font-size: 0.5em;
    font-weight: 300;
}

.buttoner1 {
    display: inline;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 1em;
    padding: 2% 5% 2% 5%;
    background-color: #0071E3;
}

.buttoner2 {
    display: inline;
    padding-left: 0.5em;
    font-size: 0.6em;
    font-weight: 700;
    color: #0071E3;
}




.show {
    opacity: 1;
    transition: opacity 1000ms;
}
  
.hide {
    opacity: 0;
    transition: opacity 1000ms;
}


/* Loading bars */
@keyframes ldio-3pxuaqzhzmb {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-3pxuaqzhzmb div {
    left: 70.5px;
    top: 36px;
    position: absolute;
    animation: ldio-3pxuaqzhzmb linear 1s infinite;
    background: #e6e6e6;
    width: 9px;
    height: 18px;
    border-radius: 0px / 0px;
    transform-origin: 4.5px 39px;
  }.ldio-3pxuaqzhzmb div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #e6e6e6;
  }.ldio-3pxuaqzhzmb div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #e6e6e6;
  }
  .loadingio-spinner-spinner-7goh19vrf2e {
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-3pxuaqzhzmb {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-3pxuaqzhzmb div { box-sizing: content-box; }